.promo {
  display: flex;
}

.promo__image {
  background-image: url("../img/promo.jpg");
  background-size: cover;
  flex-shrink: 0;
  width: 50%;
  height: 651px;
  background-position: center;
}

.promo__right {
  padding: 160px 60px;
  background-color: #dd5f26;
}

.promo__text {
  background-color: #fff;
  padding: 30px 40px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  border-radius: 25px;
}

.promo__text p {
  opacity: 0.8;
}

.promo__text p::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ec6b29;
  margin-right: 10px;
}

.promo__text button {
  background-color: #107b1c;
  margin-top: 20px;
  font-size: 18px;
  padding: 15px 30px;
  font-weight: 600;
  box-shadow: 0 16px 36px rgb(16 122 28 / 30%);
}

.promo__button_container {
  display: flex;
  justify-content: center;
}

.promo__text button i {
  font-size: 15px;
  margin-left: 5px;
}
